<section id="home-page">
  <div class="bootjob-button">
  <span>
    <img src="http://i.imgur.com/B5wD0gr.jpg" alt="" width= "250px">
  </span>
  </div>
  <div class="search-field">
    <div class="input-field">
      <%= link_to("See Jobs, San Francisco", jobs_path, class: "waves-effect waves-light btn", id: "steve-jobs") %>
    </div>
  </div>
</section>



<!--
        <p><%#= link_to "Customize Your Profile!", new_user_skill_path(@user.id)%></p>
        <p><%#= link_to "See Your Skills", user_skills_path(@user.id) %></p>
 -->