<section id="home-page">
  <div class="bootjob-button">
  <span>
    <h1>
    </h1>
  </span>
  </div>
  <div class="search-field">
    <div class="input-field">
      <%= link_to("Steve Jobs", jobs_path, class: "waves-effect waves-light btn") %>
    </div>
  </div>
</section>



<!--
        <p><%#= link_to "Customize Your Profile!", new_user_skill_path(@user.id)%></p>
        <p><%#= link_to "See Your Skills", user_skills_path(@user.id) %></p>
 -->