<div class="waves-effect waves-light btn" id="github-signin-button">
  <% if devise_mapping.omniauthable? %>
    <% resource_class.omniauth_providers.each do |provider| %>
      <%= link_to("Sign Up With GitHub", omniauth_authorize_path(resource_name, provider), class: "github-signin") %>
    <% end %>
  <% end %>
  <span><img src="http://i.imgur.com/OmwXl3k.png" alt="" width="30px"></span>
</div>

<!--
image_tag("github.png", :width => 38) -->
