<div id="job-description">
    <% @jobs.each do |job| %>
    <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <span class="card-title"><%= job.title %></span>
        </div>
        <div class="card-action">
            <a href="<%= job.link_to_original %>">Link To Original Site</a>
            <p><%= job.location %>
            <%= job.company_name %></p>
        </div>
    </div>
    <% end %>
    <br/>
    <br/>
    <br/>
</div>


