<% if user_signed_in? %>
  <% if @jobs.present? && !params[:search].empty?%>
    <%= render @jobs %>
  <% else %>
    <p>There are no jobs containing the term(s) <%= params[:search] %>.</p>
  <% end %>
<% else %>
  <% @jobs.each do |job| %>
    <li><%= job.title %></li>
  <% end %>
<% end %>
