<section>

  <h1>View all Skills you have!</h1>
  <div class="user-skills-index">
  <% if @skills == nil %>
  	<a href="/user/skills/new"><p>You dont have any skills, add one!</p></a>
  <% else %>
  	<% @skills.each do |skill| %>
  		<li><%= skill.title %></li>
     <% end %>
  <% end %>
</div>
</section>
