<p><%= current_user.name %>'s Skills</p>
<ul>
<% @skills.each do |skill| %>
<h1>This needs to be the user show/profile page. A work around to add functionality</h1>
  <li><%= skill.title %></li>
<% end %>
</ul>