<div id="home-page">
  <%if user_signed_in? %>
    <div class="welcome-message">Welcome, <%= @user.name %></div>
    <%= link_to(image_tag(@user.gravatar, :width => 180, :class => "gravatar"), destroy_user_session_path, method: :delete, id: "signout-button" )%>
  <%end%>
</div>
