<%if user_signed_in? %>
  <p class="welcome-message">Welcome, <%= @user.name %></p>
  <%= link_to(image_tag(@user.gravatar, :width => 180, :class => "gravatar"), destroy_user_session_path, method: :delete, id: "signout-button" )%></br>
<%end%>