<section id="home-page">
  <div class="container">
      <div class="row">
         <div class="input-field">
           <div class="skills-button">
            <p><%= link_to("Customize Your Profile!", new_user_skill_path(@user.id), class: "waves-effect waves-light btn") %></p>
          </div>
         </div>
      </div>
      </div>
    </div>
  </div>
</section>


