/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  display: flex;
  flex-direction: column;
}
/*
#content_wrapper {
  margin: 0 auto;
}
*/

#home-page {
  background: url(hires_waterfall.jpg) no-repeat bottom;
  padding: 400px;
  width: 100%;
  background-position: fixed;
}

.page-footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:100px;
   width:100%;
}

footer{
  background-color: #4D8A48 !important;
}

.home-button{
  margin-top: 8px;
  margin-left: 8px;
}

.gravatar {
  margin-top: 8px;
}

.welcome-message {
  float: right;
  margin-right: 8px;
}

.nav-wrapper {
  position: fixed;
  background-color: #689D29;
}

#github-signin-button {
  float: right;
}

.waves-effect.waves-light.btn {
  float: right;
}

#search {
  float: right;
}
/*
.bootjob-button {
  float: left;
  margin-left: -350px;
  background-color: white;
}
*/
