/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*/

#home-page {
  background: url("http://p1.pichost.me/i/34/1571726.jpg") no-repeat bottom center;
  padding: 250px;
  height: 100%;
  background-position: fixed;
}

.page-footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:75px;
   width:100%;
}

footer{
  background-color: #4D8A48 !important;
}

.home-button{
  margin-top: 8px;
  margin-left: 8px;
}

.gravatar {
  margin-top: 8px;
}

.welcome-message {
  float: right;
  margin-right: 8px;
}

.nav-wrapper {
  position: fixed;
  background-color: #689D29;
}

#github-signin-button {
  background-color: #77AD35 !important;
  float: right;
  bottom: 25px;
  right: 10px;
}

.github-signin {
  color: white;
}

.waves-effect.waves-light.btn {
  background-color: #1A6B5B;
}

#search {
  float: right;
}

.bootjob-button {
  float: left;
  margin-left: -250px;
  margin-top: -100px;
}

.input-field {
  float: right;
  margin-right: -200px;
}

#steve-jobs {
  width: 300px;
}

.footer-text {
  color: white;
  left: 20px;
}
