<div class="footer-text">
  <h4><%= link_to "Sign out", destroy_user_session_path, method: :delete, id: "signout-button" %></h4>
  <% if !user_signed_in? %>
    <%= render 'users/shared/links' %>
  <% end %>
</div>
